<footer class="footer">
  <div class="container">
    <div class="footer-title">
      <span>thế giới</span> đồ da tâm anh
    </div>
  </div>
  <div class="container-fluid" style="border-top: 1px solid #555a68;">
    <div class="footer-content">
      <div class="container" style=" border-bottom: 1px solid #555a68;">
        <div class="row">
          <div class="service col-md-3 col-xs-6">
            <div class="service-title">
              <h4>Dịch vụ</h4>
            </div>
            <div class="menu-service">
              <ul>
                <li><a href="">Điều khoản và dịch vụ</a></li>
                <li><a href="">Hướng dẫn mua hàng</a></li>
                <li><a href="">Phương thức thanh toán</a></li>
              </ul>
            </div>
          </div>
          <div class="policy col-md-3 col-xs-6">
            <div class="policy-title">
              <h4>Chính sách</h4>
            </div>
            <div class="menu-policy">
              <ul>
                <li><a href="">Chính sách vận chuyển</a></li>
                <li><a href="">Chính sách đổi trả hàng</a></li>
                <li><a href="">Chính sách bảo quản sản phẩm</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-6 col-xs-12"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <% for (let city in storesByCity) { %>
          <div class="map col-md-4 col-xs-12">
            <div class="city">
              <h4><%= city %></h4>
            </div>
            <div class="list-address">
              <ul>
                <% storesByCity[city].forEach(store => { %>
                <li>
                  <div class="address"><i class="icon-location3"></i> <%= store.cuahang_diachi %></div>
                  <div class="hotline_map">
                    <a href="tel:<%= store.cuahang_phone_cleaned %>">Tel: <%= store.cuahang_phone %></a>
                    <a href="<%= store.cuahang_map %>" class="link-map">(Bản đồ)</a>
                  </div>
                </li>
                <% }); %>
              </ul>
            </div>
          </div>
          <% } %>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <ul class="row justify-content-around">
        <li class="col-md-4 col-xs-12">
          <span>Bán hàng online:</span>
          <span><a href="tel:19002192">1900 2192</a> - </span>
          <span>
            <a href="tel:0333503333">0333 50 3333</a>
          </span>
        </li>
        <li class="col-md-3 col-xs-12">Email: <span><a href="">cskh@tamanh.net</a></span></li>
        <li class="col-md-5 col-xs12">Thời gian phục vụ: <strong>8h30-22h</strong>/Tất cả các ngày trong tuần</li>
      </ul>
    </div>
  </div>
</footer>

</body>

</html>