<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Global stylesheets -->
  <link rel="stylesheet" href="/icons/fontawesome/styles.min.css">
  <link rel="stylesheet" href="/icons/icomoon/styles.min.css">
  <link rel="stylesheet" href="/icons/phosphor/styles.min.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
  <!-- /global stylesheets -->

  <!-- Core JS files -->
  <script src="https://kit.fontawesome.com/f6b816f05e.js" crossorigin="anonymous"></script>
  <script src="/js/jquery/jquery.min.js"></script>
  <script src="/js/bootstrap/bootstrap.bundle.min.js"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <!-- /core JS files -->

  <!-- Theme JS files -->
  <script src="/js/app.js"></script>
  <script src="/js/slick.js"></script>
  <script defer src="/js/customcart.js"></script>
  <script defer src="/js/custom.js"></script>
  <!-- /theme JS files -->

  <!-- Theme CSS files -->
  <link rel="stylesheet" href="/css/custom/style.css">
  <link rel="stylesheet" href="/css/custom/introduce.css">
  <link rel="stylesheet" href="/css/custom/listProduct.css">
  <link rel="stylesheet" href="/css/custom/productDetail.css">
  <link rel="stylesheet" href="/css/custom/contact.css">
  <link rel="stylesheet" href="/css/custom/blog&news.css">
  <link rel="stylesheet" href="/css/custom/checkout.css">
  <!-- /Theme CSS files -->

  <title><%=title%></title>
</head>

<body>
  <div id="backtop">
    <span></span>
  </div>
  <header class="header">
    <div class="top_header">
      <div class="container d-flex justify-content-between">
        <div class="logo_header">
          <a href="/" class="logo_h logo_h__img"><img src="https://tamanh.net/wp-content/uploads/2018/02/logo-tamanh-02-1.png" alt="Thế Giới Đồ Da Tâm Anh" title="Đồ Da Tâm Anh"></a>
        </div>
        <div class="text_hotline">
          <i class="icon-phone2"></i>
          <span>Bán hàng online:</span>
          <a href="tel:19002192">
            <strong>19002192</strong>
          </a>
        </div>
      </div>
    </div>
    <div class="midle_header">
      <div class="container">
        <div class="row">
          <div class="col-sm-3 col-xs-12">
            <div class="list_product">
              <div class="title_widget">
                <span>Danh mục sản phẩm</span>
              </div>
              <nav class="list_product_menu">
                <ul class="menu">
                  <% menuData.forEach(danhmuc => { %>
                  <li class="menu_item">
                    <a href="/danh-muc/<%=slugify(danhmuc.danhmuc_ten)%>"><%= danhmuc.danhmuc_ten %></a>
                    <ul class="sub_menu">
                      <% danhmuc.loaisanphams.forEach(loaisanpham => { %>
                      <li class="sub_menu_item"><a href="/danh-muc/<%=slugify(danhmuc.danhmuc_ten)%>/<%= slugify(loaisanpham.loaisanpham_ten)%>"><%= loaisanpham.loaisanpham_ten %></a></li>
                      <% }); %>
                    </ul>
                  </li>
                  <% }); %>
                  <li class="menu_item"><a href="#">Nhượng quyền thương hiệu</a></li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="col-xs-12 col-sm-9">
            <div class="menu_desktop">
              <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/gioi-thieu">Giới thiệu</a></li>
                <li><a href="/lien-he">Liên hệ</a></li>
                <li><a href="/blog-thoi-trang">Blog thời trang</a></li>
                <li><a href="/tin-tuc">Tin tức</a></li>
              </ul>
            </div>
            <div class="user d-flex" id="user-menu">
              <!--Render trong cutom.js-->
            </div>

            <div class="cart"><i class="icon-cart2"></i><span class="count">0</span></div>
            <div class="search"></div>
            <div class="shopping_cart">
              <div class="bg_shopping_cart"></div>
              <div class="content_shopping_cart">
                <div class="title">
                  <label for="">Giỏ hàng</label>
                  <p class="ms-1 mb-0">(<span class="count">0</span> sản phẩm )</p>
                </div>
                <div class="close_shopping_cart">
                  <i class="ph-x"></i>
                </div>
                <div class="content_cart">
                  <div class="list_item">
                    <div class="content_scroll_cart">
                      <table>
                        <tbody>
                          <!--render trong customcart-->
                        </tbody>
                      </table>
                    </div>
                    <div class="bottom_giohang">
                      <div class="checkout">
                        <ul>
                          <li>
                            <label for="">Giá trị sản phẩm:</label>
                            <span class="amount"></span>
                          </li>
                        </ul>
                      </div>
                      <div class="tongtien">
                        <li>
                          <label for="">Tổng tiền</label>
                          <span class="amount"></span>
                        </li>
                      </div>
                      <div class="note_checkout">
                        <div class="shipping">Miễn phí vận chuyển</div>
                      </div>
                      <div class="btn_muahang">
                        <a href="/thanh-toan">Thanh toán ngay</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>