<%- include('partials/header') %>

<section class="direct">
  <div class="container">
    <ol class="breakcumb">
      <% breadcrumb.forEach(function(item, index) { %>
      <li>
        <a href="<%= item.url %>"><span><%= item.name %></span></a>
      </li>
      <% }) %>
    </ol>
  </div>
</section>

<section class="categories">
  <div class="container">
    <div class="banner_categories">
      <img src="/uploads/<%=banner_img%>" alt="">
    </div>
    <h2 class="title-header">
      <span><%=title%></span>
    </h2>
  </div>
</section>

<section class="product-filter">
  <div class="container">
    <div class="l-filter">
      <p class="woocommerce-result-count">Showing 1-<%= productsOnPage %> of <%= totalProducts %> results</p>
      <form class="woocommerce-ordering" method="get">
        <select name="orderby" class="orderby" onchange="this.form.submit()">
          <option value="menu_order" <%= orderby === 'menu_order' ? 'selected' : '' %>>Thứ tự mặc định</option>
          <option value="date" <%= orderby === 'date' ? 'selected' : '' %>>mới nhất</option>
          <option value="price" <%= orderby === 'price' ? 'selected' : '' %>>Thứ tự theo giá: thấp đến cao</option>
          <option value="price-desc" <%= orderby === 'price-desc' ? 'selected' : '' %>>Thứ tự theo giá: cao xuống thấp</option>
        </select>
      </form>
    </div>
  </div>
</section>

<section class="list-product">
  <div class="container">
    <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-4">
      <% products.forEach(product => { %>
      <div class="col">
        <div class="card h-100">
          <a href="">
            <img src="/uploads/<%=product.sanpham_anh%>" class="card-img-top" alt="...">
          </a>
          <div class="card-body">
            <h5 class="card-title"><%=Number(product.sanpham_gia).toLocaleString('vi-VN')%> Đ</h5>
            <div class="card-text">
              <a href=""><%=product.sanpham_ten%>-<%=product.sanpham_ma%></a>
            </div>
          </div>
        </div>
      </div>
      <%})%>
    </div>
  </div>
</section>

<div class="container">
  <div class="pagination">
    <ul>
      <% for(let i = 1; i <= totalPages; i++) { %>
      <li class="<%= currentPage === i ? 'active' : '' %>">
        <a href="?page=<%= i %>"><%= i %></a>
      </li>
      <% } %>
    </ul>
  </div>
</div>


<%- include('partials/commitment') %>
<%- include('partials/reviews') %>
<%- include('partials/footer') %>