<%- include("partials/header") %>
  <%= title %>
    <form action="" method="get">
      <input type="text" name="sanpham_tieude" id="">
      <button type="submit">Tim kiem</button>
    </form>
    <table>
      <thead>
        <tr>
          <th>Id</th>
          <th>Tiêu đề</th>
          <th>mã sản phẩm</th>
          <th>Giá sản phẩm</th>
          <th>Giới thiệu</th>
          <th>Bảo quản</th>

        </tr>
      </thead>
      <tbody>
        <% data.map(function(prod) {%>
          <tr>
            <td><%- prod.sanpham_id %></td>
            <td><%- prod.sanpham_tieude %></td>
            <td><%- prod.sanpham_ma %></td>
            <td><%- prod.sanpham_gia %></td>
            <td><%- prod.sanpham_gioithieu %></td>
            <td><%- prod.sanpham_baoquan %></td>
            <td><a href="/products/<%=prod.sanpham_id%>">Xem</a></td>
            <td>
              <a href="/Delete_products/<%=prod.sanpham_id%>">xóa</a>
            </td>
          </tr>
          <%})%>
      </tbody>

    </table>
    <nav aria-label="Page navigation">
      <ul class="pagination">
        <!-- cách 1: ẩn nút quay lại khi page đang ở page đầu tiên, 
         cách 2: xét nếu page đang > 1 thì khi click quay lại trang trước đó, nếu không quay lại mặc định trang 1 -->
        <li class="<%= _page <= 1  ? 'd-none' : ''%>"><a class="page-link"
            href="?page=<%=_page > 1 ? _page - 1 : 1 %>">Previous</a></li>
        <% for(i=1; i <=totalPage; i++){ %>
          <% if (_name){%>
            <li class="<%= _page == i ? 'active' : ''%>"><a class="page-link"
                href="?sanpham_tieude=<%= _name %>&page=<%= i %>">
                <%= i %>
              </a></li>

            <%} else{%>
              <li class="<%= _page == i ? 'active' : ''%>"><a class="page-link" href="?page=<%= i %>">
                  <%= i %>
                </a></li>
              <%}%>

                <% } %>
                  <li class="<%= _page >= totalPage  ? 'd-none' : ''%>"><a class="page-link"
                      href="?page=<%=_page < totalPage ? _page + 1 : totalPage %>">Next</a></li>
      </ul>
    </nav>